#app {
  // 侧边栏
  .sidebar-container {
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.28s;
    width: 200px;
    box-shadow: 2px 0 8px 0 rgba(29,35,41,.05);
    height: 100vh;
    font-size: 0px;
    overflow: hidden;
    z-index: 1000;
    background-color: #fff;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
      margin-bottom: 0 !important;
      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
  }

  .openSidebar {
    .sidebar-container {
      width: 200px;
    }
    .container-bottom {
      margin-left: 200px;
    }
  }

  .hideSidebar {
    .container-bottom {
      margin-left: 60px;
    }
    .sidebar-container {
      width: 60px;

      .el-menu {
        .el-submenu {

        }

        .el-submenu__icon-arrow {
          display: none;
          transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }

        .title {
          display: none;
          transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 200px !important;
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }

  .el-submenu__title, .el-menu-item {
    height: 38px;
    line-height: 38px;
  }
  .el-menu-item-group {
    .el-menu-item-group__title {
      padding: 0;
    }
  }
}

.el-menu--vertical {
  > ul {
    height: 100%;
    overflow: hidden;
  }

  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }

    .el-menu-item {
      height: 36px;
      line-height: 36px;
    }
  }

  .el-menu-item-group {
    .el-menu-item-group__title {
      text-align: center;
      padding: 5px !important;
    }

    > ul {
      max-height: 450px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
